* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Custom Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #f8f9fa;
    padding: 10px 20px;
    box-shadow: 0px 4px 2px -2px gray;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar .navbar-logo a {
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
}

.navbar ul li a:hover {
    color: #ff6666;
}

/* Home Details */
.homeInfo{
    height: 450px;
    padding: 20px;
    margin: 40px 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.homeImg{
    height: 75%;
    width: 100%;
    margin-right: 40px;
    margin-left: 40px;  
}

.homeImg video {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}

.homeDetail h2{
    margin-top: 10px;
    margin-bottom: 40px;
}

/* Features Section */
.features{
    height: 300px;
    margin: 50px 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.cards{
    width: 23%;
    height: 100%;
    margin-left: 10px;
    align-self: center;
    box-shadow: 0px 4px 2px -2px gray;
}

.cards:hover {
    transform: scale(1.1);
}

.cards img{
    height: 120px;
    width: 120px;
    background-color: black;
}
.cards h4{
    margin-top: 15px;
}

/* 2nd Container  */
.btn {
    height: 30px;
    width: 150px;
    font-size: 15px;
    border-radius: 15px;
    border: none;
    background-color: #f8f9fa;
}

.btn:hover {
    background-color: #ff6666;
}


/* Carousel */
.slide{
    margin: 40px 40px;
    height: 400px;
}
.carousel-inner img {
    border-radius: 10px;
    background-size: cover;
}

.carousel-item img {
    width: 100%;
    height: 400px;
}

.carousel-indicators button {
    background-color: gray;
}
